<!DOCTYPE html>
<html>
<head>
  <title><%= page_title %></title>
  <meta charset="UTF-8">
  <meta name="keywords" content="d3,js, graph network of Ottawa University proffessor, data visualization, Library and Information Studies at Universtiy of Ottawa">

<% stylesheets = "normalize", "//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css", "animate" , 'migration_interprovinciale/homer.css'
%>
<% stylesheets.each do |style| %>
  <%= stylesheet_link_tag style %>
<% end %>



<%= javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/d3/3.4.11/d3.min.js", "https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js",  "https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.1/jquery.js" %>


</head>

<body>

<%= yield %>
</body>



</html>
