                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right scroll-to">
                        <li><a href="home-default.html#home">Home</a></li>
                        <li><a href="home-default.html#about">About</a></li>
                        <li><a href="home-default.html#services">Services</a></li>
                        <li><a href="home-default.html#work">Work</a></li>
                        <li class="active"><a href="blog.html">Blog</a></li>
                        <li><a href="home-default.html#contact">Contact</a></li>
                        <li><a href="elements.html">Elements</a></li>          

                    </ul>
                </div><!--/.nav-collapse -->