                    
                        <div class="blog-entry clearfix wow animated fadeInUp" data-wow-dela="0.1s">
                            <div class="blog-date">
                                <span class="date-day">28</span>
                                <span class="date-month">April 015</span>
                            </div><!--blog date into left position-->
                            <div class="blog-content">
                                <div class="entry-media">
                                    <div class="flexslider blog-slider">
                                        <ul class="slides ">
                                            <li>
                                                <img src="assets/images/blog-1.jpg" alt="">
                                            </li><!--Single slide li-->
                                            <li>
                                                <img src="assets/images/blog-2.jpg" alt="">
                                            </li><!--Single slide li-->
                                            <li>
                                                <img src="assets/images/blog-3.jpg" alt="">
                                            </li><!--Single slide li-->
                                        </ul>
                                    </div>
                                </div><!--entry media-->
                                <h3 class="entry-title"><a href="blog-single.html">Awesome slider post here</a></h3>
                                <h6 class="entry-author">by rakesh sharma with bavely</h6>
                                <p class="post-text">
                                    Praesent augue arcu, ornare ut tincidunt eu, mattis a libero. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. In elit purus, ullamcorper vel luctus vitae, venenatis eu odio. Vivamus tincidunt, urna quis consectetur venenatis, quam urna tincidunt mi, quis convallis enim dolor sed elit Praesent ...
                                </p>
                                <p>
                                    <a href="blog-single.html" class="btn btn-dark-border btn-sm">
                                        <span> Read more...</span>
                                    </a>
                                </p>  
                            </div><!--blog content-->
                        </div><!--blog entry-->
                        <div class="blog-entry clearfix wow animated fadeInUp" data-wow-delay=".2s">
                            <div class="blog-date">
                                <span class="date-day">28</span>
                                <span class="date-month">April 015</span>
                            </div><!--blog date into left position-->
                            <div class="blog-content">
                                <div class="entry-media">
                                    <div class="embed-responsive embed-responsive-16by9">
                                        <iframe src="http://player.vimeo.com/video/57175742"></iframe>
                                    </div>
                                </div><!--entry media-->
                                <h3 class="entry-title"><a href="blog-single.html">Awesome slider post here</a></h3>
                                <h6 class="entry-author">by rakesh sharma with bavely</h6>
                                <p class="post-text">
                                    Praesent augue arcu, ornare ut tincidunt eu, mattis a libero. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. In elit purus, ullamcorper vel luctus vitae, venenatis eu odio. Vivamus tincidunt, urna quis consectetur venenatis, quam urna tincidunt mi, quis convallis enim dolor sed elit Praesent ...
                                </p>
                                <p>
                                    <a href="blog-single.html" class="btn btn-dark-border btn-sm">
                                        <span> Read more...</span>
                                    </a>
                                </p>  
                            </div><!--blog content-->
                        </div><!--blog entry-->

                        <div class="blog-entry clearfix wow animated fadeInUp" data-wow-delay=".3s">
                            <div class="blog-date">
                                <span class="date-day">28</span>
                                <span class="date-month">April 015</span>
                            </div><!--blog date into left position-->
                            <div class="blog-content">
                                <div class="entry-media">
                                    <iframe height="170" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/62974792&amp;color=ff6600&amp;auto_play=false&amp;show_artwork=true"></iframe>
                                </div><!--entry media-->
                                <h3 class="entry-title"><a href="blog-single.html">Awesome slider post here</a></h3>
                                <h6 class="entry-author">by rakesh sharma with bavely</h6>
                                <p class="post-text">
                                    Praesent augue arcu, ornare ut tincidunt eu, mattis a libero. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. In elit purus, ullamcorper vel luctus vitae, venenatis eu odio. Vivamus tincidunt, urna quis consectetur venenatis, quam urna tincidunt mi, quis convallis enim dolor sed elit Praesent ...
                                </p>
                                <p>
                                    <a href="blog-single.html" class="btn btn-dark-border btn-sm">
                                        <span> Read more...</span>
                                    </a>
                                </p>  
                            </div><!--blog content-->
                        </div><!--blog entry-->
                        <div class="blog-entry clearfix wow animated fadeInUp" data-wow-delay=".4s">
                            <div class="blog-date">
                                <span class="date-day">28</span>
                                <span class="date-month">April 015</span>
                            </div><!--blog date into left position-->
                            <div class="blog-content">
                                <div class="entry-media">
                                    <blockquote>
                                        Praesent augue arcu, ornare ut tincidunt eu, mattis a libero. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. In elit purus, ullamcorper vel luctus vitae, venenatis eu odio. Vivamus tincidunt, urna quis consectetur venenatis, quam urna tincidunt mi, quis convallis enim dolor sed elit Praesent ...

                                    </blockquote>
                                </div><!--entry media-->

                                <h6 class="entry-author">by rakesh sharma with bavely</h6>
                                <p class="post-text">
                                    Praesent augue arcu, ornare ut tincidunt eu, mattis a libero. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. In elit purus, ullamcorper vel luctus vitae, venenatis eu odio. Vivamus tincidunt, urna quis consectetur venenatis, quam urna tincidunt mi, quis convallis enim dolor sed elit Praesent ...
                                </p>
                                <p>
                                    <a href="blog-single.html" class="btn btn-dark-border btn-sm">
                                        <span> Read more...</span>
                                    </a>
                                </p>  
                            </div><!--blog content-->
                        </div><!--blog entry-->