                            <div class="sidebar-widget">
                                <h3 class="sidebar-title">From Twitter</h3>
                                <div class="tweet"></div>
                            </div><!--sidebar widget-->

                            <div class="sidebar-widget">
                                <h3 class="sidebar-title">Some text</h3>
                                <p>
                                    Praesent augue arcu, ornare ut tincidunt eu, mattis a libero. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
                                </p>
                            </div><!--sidebar widget-->
                            <div class="sidebar-widget">
                                <h3 class="sidebar-title">Popular tags</h3>
                                <div class="tag-list">
                                    <a href="#">Bootstrap</a>
                                    <a href="#" style="font-size: 18px;">music</a>
                                    <a href="#">fashion</a>
                                    <a href="#" style="font-size: 18px;">sass</a>
                                    <a href="#">Alerts</a>
                                    <a href="#">Bootstrap</a>
                                    <a href="#" style="font-size: 18px;">wordpress</a>
                                    <a href="#">Compass</a>
                                    <a href="#">Ruby</a>
                                    <a href="#" style="font-size: 18px;">Responsive</a>
                                </div>
                            </div><!--sidebar widget-->