---
title: l'Open Access en question
date: 2014-10-26 02:01 UTC
tags: Open-Access
layout: open_access
description: "L'Open Access est un sujet tout nouveau pour moi. Alors je me suis posé des questions que je tenterais d'avoir la réponse pendant la semaine de l'Open Access à L'Université d'Ottawa."
image: "http://i121.photobucket.com/albums/o205/guinslym/totrash/5232012052424iwsmt_zps78b8f3a5.jpeg"
---

   <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
    <!--
    <canvas class="pg-canvas" width="1301" height="359"></canvas>
    -->
      <div class="containeri Text-center">
        <h1 class="title" data-sr="enter from the top and hustle 50px over 1.5s">Open Access  <small>8 questions que je me suis pos&eacute;</small></h1>

      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-lg-12" data-sr="enter top wait 2s">
          <p>Je me suis pos&eacute; plusieurs questions dont je tenterai d'avoir les r&eacute;ponses pendant la semaine de promotion de l'Open Access.</p>

        </div>
      </div>


      <hr>

          <div class="row">
        <div class="col-lg-12 text-center">
        <h1 class="question">Est-ce que l'Open Access fait qu'on embauche plus de bibliothécaire ou si tout devient automatisé?  </h1></div>
        <div class="col-lg-12 text-center" data-sr="enter bottom  over 1.5s ">
         <iframe src="//giphy.com/embed/7qTGRW3LyydIQ" width="724" height="303" frameBorder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
        </div>
      </div>


      <div class="row">
        <div class="col-lg-12 text-center">
        <h1 class="question">Est-ce que l'Open Access augmente notre dépendance à l'internet.?  </h1></div>
        <div class="col-lg-12 text-center" data-sr="enter bottom  over 1.5s ">
         <iframe src="//giphy.com/embed/bI9iVGCXzsllC" width="711" height="400" frameBorder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe> 
        </div>
      </div>

            <div class="row">
        <div class="col-lg-12 text-center">
        <h1 class="question">L'accès est Ouvert &agrave; tous!  Ah Oui? Combien de gens sont au courant?  </h1></div>
        <div class="col-lg-12 text-center" data-sr="enter bottom  over 1.5s">
         <iframe src="//giphy.com/embed/14iokwptQPxSMw" width="711" height="400" frameBorder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
        </div>
      </div>

                  <div class="row">
        <div class="col-lg-12 text-center">
        <h1 class="question">L'accès est Ouvert &agrave; tous, combien de gens ont la capacité de l'utiliser?  </h1></div>
        <div class="col-lg-12 text-center" data-sr="enter bottom  over 1.5s">
         <img src="http://i121.photobucket.com/albums/o205/guinslym/totrash/5232012052424iwsmt_zps78b8f3a5.jpeg" alt="image: for a fair selection everybody has to take the same exam: représentant l'inégalité" class="img-thumbnail">
        </div>
      </div>

            <div class="row">
        <div class="col-lg-12 text-center">
        <h1 class="question"> Do people really reads it? Quel est leur niveau d'int&eacute;r&ecirc;t? </h1></div>
        <div class="col-lg-12 text-center"  data-sr="enter bottom  over 1.5s">
         <iframe src="//giphy.com/embed/ogyoTLLtAcxZS" width="711" height="400" frameBorder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
        </div>
      </div>
            <div class="row">
        <div class="col-lg-12 text-center">
        <h1 class="question">Yes, I accept that my thesis will be Open Access. But let's say that someone cite my Thesis, can I be sure that his Thesis will be Open Access too ?  </h1></div>
        <div class="col-lg-12 text-center"  data-sr="enter bottom wait 1s over 1.5s">
         <iframe src="//giphy.com/embed/anB3cor0tgFX2" width="480" height="288" frameBorder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
        </div>
      </div>

                <div class="row">
        <div class="col-lg-12 text-center">
        <h1 class="question">Est-ce que Open Access == Open Source?  </h1></div>
        <div class="col-lg-12 text-center" data-sr="enter bottom  over 1.5s">
         <img src="http://i121.photobucket.com/albums/o205/guinslym/totrash/opensource-1_zpsc598a0c2.jpg" alt="image: my name is open source: représentant une image de open-source" class="img-thumbnail">
        </div>
      </div>


        <div class="row">
        <div class="col-lg-12 text-center">
        <h1 class="question">What's up with Open? Seems to me everything is becoming Open, Are we building an Open Society?  </h1></div>
        <div class="col-lg-12 text-center" data-sr="enter bottom  over 1.5s">
         <img src="http://i121.photobucket.com/albums/o205/guinslym/totrash/opensourcewordcloud_zpse3e2761c.jpg" alt="image: tag cloud d'Open project" class="img-thumbnail">
        </div>
      </div>
         




      <footer>
        <p>Les gif ont été pris de <a href="http://giphy.com" target="_blank">Giphy</a>  l'image du cartoon a &eacute;t&eacute; prise de <a href="http://iwastesomuchtime.com/on/?i=37716" target="_blank">iwastesomuchtime</a>. Open Source; la source de l'image d'Open Source est de <a href="http://www.smashingmagazine.com/2013/01/03/starting-an-open-source-project/" target="_blank">smashingmagazine</a> et celui du nuage de mot est de <a href="http://www.paulduane.net/2014/08/open-source-society/" target="_blank">paulduane</a> .</p>
      </footer>
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
     -->

      <script>

       (function($) {

        'use strict';

        window.sr= new scrollReveal({
          reset: true,
          move: '50px',
          mobile: true
        });


      })();
      /*

        $('div.jumbotron').particleground({
		    dotColor: '#ff0000',
		    lineColor: '#ff0000'
		});
*/
    </script>

    <footer>
    <div class="container">
    	  <div class="row text-center">
    
  <h1>Au revoir!!!</h1>
  <h4><a href="/" class="blog">-- retour au blog --</a></h4>
  </div>
    </div>

</footer>