---
title: starting with page.js
date: 2015-01-27 04:11 UTC
tags: javascript
layout: blog2015
published: true
---
<style type="text/css">

</style>


<div class="container article_index">
<% 12.times do %>
  <div class="row ">
   
      <div class="col-md-10 col-lg-offset-1 post_index_articles">
                      <!-- Standard image post example -->
                      <div class="article-index style2">
                        <div class="post-meta hidden-xs">
                          <div class="date">
                            <span class="icon"><i class="fa fa-calendar"></i></span>
                            <span class="day">6</span>
                            <span class="month">janvier</span>
                          </div>
                          <div class="like-box">
                            <a href="#" class="btn btn-block btn-xs btn-base btn-icon btn-heart">
                              <span>2015</span>
                            </a>
                          </div>
                        </div>
                        <div class="post-content-wr">
                            <div class="post-meta-top">
                                <h2 class="post-title">
                                <a href="/articles/the-three-sides-of-a-man-named-abraham">The Three Sides Of A Man Named Abraham</a>
                                </h2>
                            </div>
                            <div class="post-content clearfix">
                                <div class="post-desc">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                                    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                </div>
                            </div>
                        </div>
                      </div>

                     

                    </div>
    </div>
    <% end %>
</div>

