---
title: how to find a doi and create a permanent link
date: 2015-01-26 02:12 UTC
tags:
layout: 2015/blog2015
published: false
---

<script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js?lang=css&skin=desert"></script>
<div class="container article_index">

<div class="row">
  <div class="col-lg-9 col-lg-offset-1">
    <div class="row text-center">
    <h1 style="color:#B61924">how to create a search form in Ruby on Rails</h1>
    </div>

    <div class="post-desc">
      
    <p>We will create a simple search form using Ruby on Rails. Our goal is to make an application to search for a user and retrieve it's data. First thing first the repo is available on github. There is two main steps one is to setup the app (1- Prerequisite) and than we will jump into creating the search form (2- Search form). Feel free to skip ahead if you just want to know the logic</p>

    <h2 class="text-center">Prerequisite</h2>
    <p class="note">In your terminal we will type to create the app</p>
<div class="row ">

<pre class="prettyprint linenums">
    $ rails _4.1.5_ new employee -B && cd employee
</pre>

</div>

    <p>I use the parameter -B to tell rails that I don't want it to run 'bundle install' right now and the parameter. We will open our config/application.rb and insert this lines</p>

<div class="row ">

<pre class="prettyprint linenums lang-ruby">
    #config/application.rb
    config.encoding = "utf-8"
    config.time_zone = 'Eastern Time (US & Canada)'
    config.generators.assets = false
    config.generators.helper = false
</pre>

</div>

    <p>I don't want rails to create assets file and helper files each time that I will create a Controller. Next let's add some gems</p>

    <div class="row ">

        <pre class="prettyprint linenums lang-ruby">
  gem 'rails_layout',group: :development #creating a twitter bootstrap layout
  gem 'thin'
  gem 'faker'
  gem 'ui_faces'
        </pre>

    </div>

    <p>And than we can run this 'bundle install'. We will also generate a Twitter bootstrap layout</p>

    <div class="row ">

        <pre class="prettyprint linenums lang-ruby">
  $ bundle install
  $ rails generate layout:install bootstrap3
        </pre>

    </div>

    <p>Now we will generate a controller and a model</p>

    <div class="row ">

        <pre class="prettyprint linenums lang-ruby">
  $ rails g controller welcome index result
  $ rails g model user name bio:text age:integer city country user_pic
  $ rake db:create 
        </pre>

    </div>

    <p>We will create some seeds</p>

    <div class="row ">

        <pre class="prettyprint linenums lang-ruby">
Article.delete_all
puts "Adding contents to Table: Articles"
10.times do |n|
random_number = rand(1..25)
image_link = UiFaces.face
nickname = image_link.split("/")[-2]
Article.create(
:title => Faker::Lorem.sentence.to_s,
:about => Faker::Lorem.paragraph(1).to_s,
:created_at => Faker::Date.backward(random_number),
:updated_at => Faker::Date.backward(random_number),
:user_picture_link => image_link,
:user_name => nickname,
:country => Faker::Address.country.to_s
)
end
        </pre>

    </div>

    <p>Then we can run rake db:migrate</p>

    <div class="row ">

        <pre class="prettyprint linenums lang-ruby">
  $ rake db:setup #it will migrate and db:seed
        </pre>

    </div>

    </div><!-- post-desc !>
    </div>
  </div>
</div>

</div>