---
title: starting with page.js
date: 2015-01-27 04:11 UTC
tags: javascript
layout: 2015/blog2015
published: false
---
<style type="text/css">
.hll { background-color: #ffffcc } /* WRONG */
.highlight { background-color: #ffffcc } /* RIGHT */

</style>
<!-- https://google-code-prettify.googlecode.com/svn/trunk/README.html -->

<script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js?lang=css&skin=desert"></script>
<div class="container article_index">

<div class="row">
  <div class="col-lg-9 col-lg-offset-1">
    <div class="row text-center">
    <h1 style="color:#B61924">loewm ipsum js opasjs</h1>

    </div>
    <div class="row syntax">
            <pre class="prettyprint linenums lang-javascript">
(function() {
   var jsSyntaxHighlighting = 'rocks';
})();
(function() {
   var jsSyntaxHighlighting = 'rocks';
})();
(function() {
   var jsSyntaxHighlighting = 'rocks';
})();
</pre>
            <pre class="prettyprint linenums:1 lang-ruby">
activate :title, site: 'Blog de Guinsly Mondésir', separator: ' — '
#ignore "/blog/2014-09-03-migration-interprovinciale-au-canada-en-2013.html"
activate :syntax, line_numbers: true
set :markdown_engine, :redcarpet
set :markdown, fenced_code_blocks: true
</pre>
    </div>
    <div class="post-desc">
      
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
  </div>
</div>

</div>

