---
title: My first bike tour
date: 2016-08-14 01:04 UTC
tags:
layout: 2015/blog2015
published: true
description: "My first bicycle tour"
---


  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<style type="text/css">
	pre{
		margin: 18px 0;
	}
    p{
        margin: 18px 0;
    }
    .article_title{
        color:#B61924;text-transform: capitalize;
        padding: 20px 0 40px 0;
    }
    p.prerequis{
        font-weight: bolder;
    }
    ul.references li{
      list-style: circle !important;
    }
    thead tr td{
      font-weight: bolder;
    }
</style>
<script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js?lang=css&skin=desert"></script>

<div class="container article_index">

<div class="row">
  <div class="col-lg-9 col-lg-offset-1">
    <div class="row text-center">
    <h1 class="article_title" style="  ">My first bicycle tour</h1>
    </div>
    <p>
      I've intended to do a bicycle trip for so long. At first I was supposed to do a bicycle tour from Montreal to upper New-York state. I was supposed to do it with my cousin. But he had some project to finish up in Belgium and I was engaged in a volunteer project.
    </p>
    <p>
      As I had everything already prepared for the bicycle trip (sleeping bag, new bicycle, and the other 143 items that I had to carry on my bike), the only thing left was to start the trip. So on Saturday July 31st I decided to start my trip. My plan was to reach Sudbury but as the French says un plan est fait pour être changer. Meaning that a plan might change to face a situation. So from Sudbury I decided to stop at <a href="https://www.google.ca/maps/place/Deep+River,+ON/@46.0713689,-77.5703337,11z/data=!4m5!3m4!1s0x4cd6def70c3cdefd:0x1ca01a3335c67a5f!8m2!3d46.0976628!4d-77.4933397" target="_blank">Deep River</a>.
    </p>
    <p>
       So from Ottawa and after 3 nigths I decided to stop at Deep River. First because my bicycle wasn't made to deal with the two hills coming ahead between Stonecliffe and Mattawa. Also I was getting tired. I forgot to mention something about my plan I wanted to visit the most libraries as possible. So my route was from the Cumberland Library in Orleans to the University Laurentian main library at Sudbury. But I only went to 2 libraries: <a href="http://www.arnpriorlibrary.ca/" target="_blank">Arnprior public library</a> and the <a href="http://www.deepriverlibrary.ca/?file=kop1.php" target="_blank">Deep River public library</a>. Due that On Sunday most of the libraries in Region are closed and Monday August 1st is a Holiday in Ontario. So Sarturday and Tuesday was the unique day that the libraries was open while I was on my bicycle trip.
    </p>
    <p>
      A bicycle trip was a great experience for me. I met a lots of people. Jacynda and her husband, Jill, Brad and many others that help me on my trip. By giving me some advice, Brad gives me some bottle of water (I was in the middle of nowhere and out of water so I was really thirsty), Diane helps me by showing me how to pick up blueberry. I actually never knew how does a blueberry looks like. I thought that grows up in California. I have ate blueberry muffins but never raw blueberries so that's why I didn't know how do they looks like. So she helps me distinguish between 5 differents sorts of blueberry. That was right on time on the road because I was starving. Jacynda and her husband helps me build up my A-frame tent, gives me plenty of advice on how to be safe on a bicycle trip and many other advices. I can't even think on how great those person was on my trip and in my life even I talk with them for a few minutes.
    </p>
    <p>
      A bicycle trip is a live changing experience. That these few paragraphs can't express at its full extend.
    </p>

<style type="text/css">
	   .media
    {
        /*box-shadow:0px 0px 4px -2px #000;*/
        margin: 20px 0;
        padding:30px;
    }
    .dp
    {
        border:10px solid #eee;
        transition: all 0.2s ease-in-out;
    }
    .dp:hover
    {
        border:2px solid #eee;
        transform:rotate(360deg);
        -ms-transform:rotate(360deg);
        -webkit-transform:rotate(360deg);
        /*-webkit-font-smoothing:antialiased;*/
    }
</style>


   <footer>
  <div class="row text-center">

  <h1>Au revoir!!!</h1>
  <h4><a href="/" class="blog">-- retour au blog --</a></h4>
  </div>
</footer>

<script type="text/javascript">
  $('a').each(function() {
   var a = new RegExp('/' + window.location.host + '/');
   if (!a.test(this.href)) {
      $(this).attr("target","_blank");
   }
});
</script>
