---
title: How to add Timestamps in your Django model
date: 2016-06-11 20:43 UTC
tags: django, django-models
layout: 2015/blog2015
published: true
description: "Django- Add timestamps to an existing table"
image: "http://code.djangoproject.com/attachment/wiki/DjangoGraphviz/mincer-modelviz-0.6.png?format=raw"
---

  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<style type="text/css">
	pre{
		margin: 18px 0;
	}
    p{
        margin: 18px 0;
    }
    .article_title{
        color:#B61924;text-transform: capitalize;
        padding: 20px 0 40px 0;
    }
    p.prerequis{
        font-weight: bolder;
    }
    ul.references li{
      list-style: circle !important;
    }
    thead tr td{
      font-weight: bolder;
    }
</style>
<script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js?lang=css&skin=desert"></script>

<div class="container article_index">

<div class="row">
  <div class="col-lg-9 col-lg-offset-1">
    <div class="row text-center">
    <h1 class="article_title" style="  ">How to add Timestamps in your Django model</h1>
    </div>

    <div class="post-desc">
      <p>If you want to add <strong>timestamps</strong> here a three options that you can take.</p>
<hr>
      <p>First let's create a new project and a new app.</p>
<div class="row ">

<pre class="prettyprint">
 -> %  django-admin startproject blogproject && cd blogproject
 -> %  python manage.py startapp blog
</pre>

</div>
<hr>
    <h3>Simplicity</h3>
    <p>let's add the new app <strong>blog</strong> to our <em>installed apps</em></p>
    <script src="https://gist.github.com/guinslym/c12deca06742ea1c499a29c3ef4f8e31.js"></script>
    <p>Now we can start creating our model. We will have four fields: <strong>title</strong>, <strong>description</strong>, <strong>updated</strong>, <strong>created</strong></p>
    <script src="https://gist.github.com/guinslym/8f5faf5647f7351c43d890deeb588c9d.js"></script>


    <h3>Being smarter</h3>
    <p>If you planned to use these fields often in other Models. i.e. <strong>Comments</strong>, <strong>Like</strong>, <strong>ShoppingCart</strong> etc. It would be smarter keep things <a href="https://en.wikipedia.org/wiki/Don%27t_repeat_yourself">Dry</a></p>
    <script src="https://gist.github.com/guinslym/b584b1ee7056a42ac14b5ba40dcccd8d.js"></script>

    <h3>Being smarter (suite)</h3>
    <p>There is an awesome package called <a href="https://django-model-utils.readthedocs.io/en/latest/">django-model-utils</a>. If you planned to use more than one of the functionnalities offers in this package i.e. <em>StatusField</em>, <em>FieldTracker</em> you might as well use this package to add the fields <strong>created</strong> and <strong>updated</strong></p>

    <pre class="prettyprint">
     -> %  pip install django-model-utils
    </pre>
    <script src="https://gist.github.com/guinslym/0002c01eca5a53cd22b88abe11a3033d.js"></script>
    <p>After we will import it in your models.py</p>
    <script src="https://gist.github.com/guinslym/de4a9b9e746d2bab1a25c5472890d63e.js"></script>



<style type="text/css">
	   .media
    {
        /*box-shadow:0px 0px 4px -2px #000;*/
        margin: 20px 0;
        padding:30px;
    }
    .dp
    {
        border:10px solid #eee;
        transition: all 0.2s ease-in-out;
    }
    .dp:hover
    {
        border:2px solid #eee;
        transform:rotate(360deg);
        -ms-transform:rotate(360deg);
        -webkit-transform:rotate(360deg);
        /*-webkit-font-smoothing:antialiased;*/
    }
</style>
<div class="row">


    <div class="col-lg-6 col-lg-offset-1">
        <div class="media">
            <a class="pull-left" href="#">
                <img class="media-object dp img-circle" src="https://s3.amazonaws.com/uifaces/faces/twitter/guinslym/128.jpg" style="width: 100px;height:100px;">
            </a>
            <div class="media-body">
                <h4 class="media-heading">Guinsly Mondésir <small> Ottawa </i></small></h4>
                <h5>Web developer - Pythonist - Rubyist</h5>
                <a href="https://twitter.com/guinslym"><i class="fa fa-twitter fa-2x"></i></a>
                <a href="https://github.com/guinslym"><i class="fa fa-github fa-2x"></i></a>
                <hr style="margin:8px auto">

                <span class="label label-default">doi</span>
                <span class="label label-default">cli</span>
                <span class="label label-info">curl</span>
                <span class="label label-default">HTTP</span>
            </div>
        </div>

    </div>

</div>

   <footer>
  <div class="row text-center">

  <h1>Au revoir!!!</h1>
  <h4><a href="/" class="blog">-- retour au blog --</a></h4>
  </div>
</footer>

<script type="text/javascript">
  $('a').each(function() {
   var a = new RegExp('/' + window.location.host + '/');
   if (!a.test(this.href)) {
      $(this).attr("target","_blank");
   }
});
</script>
