---
title: Blisk a Mobile-First web browser
date: 2016-06-28 06:09 UTC
tags: webdev, HTML
layout: 2015/blog2015
published: true
description: "Given an DOI I was wondering how can I retrieve the non-mimify url and all the metadata throught the command line (Mac/Linux)"
image: "https://bliskstatic.azureedge.net/browser/blisk-preview-960.png, https://pbs.twimg.com/media/CgVCtwoWEAA3H7l.jpg"
---




  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<style type="text/css">
	pre{
		margin: 18px 0;
	}
    p{
        margin: 18px 0;
        font-size: 2.1rem;;
    }
    .article_title{
        color:#B61924;text-transform: capitalize;
        padding: 20px 0 40px 0;
    }
    p.prerequis{
        font-weight: bolder;
    }
    ul.references li{
      list-style: circle !important;
    }
    thead tr td{
      font-weight: bolder;
    }
</style>
<script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js?lang=css&skin=desert"></script>

<div class="container article_index">

<div class="row">
  <div class="col-lg-9 col-lg-offset-1">
    <div class="row text-center">
    <h1 class="article_title" style="  ">Blisk a mobile-first web browser</h1>
    </div>

    <p><a href="https://blisk.io/">Blisk</a> is the new kid on the block to help web developers getting things done right. Blisk is a web browser that has three frames on its interface the left frame display a range of Mobile device that you can choose. The middle frame display how a given website will look like on the chosen device (the left frame) and the right frame displays the website as you could  see it in your day-to-day browser like Firefox or Chrome. For sure Firefox and Google Chrome offers many addons or extensions that front-end dev can toggle to view how the website will look like in an Iphone but you have to toggle or to enable those addons/extensions. By default Blisk come with similar extension already enable.
</p>
<img src="" alt="" />
<video poster="https://bliskstatic.azureedge.net/video/poster/switching-blisk-devices-poster.jpg" loop="" class="img-thumbnail nopadding">
                                        <source src="https://bliskstatic.azureedge.net/video/switching-blisk-devices.mp4" type="video/mp4">
                                        <source src="https://bliskstatic.azureedge.net/video/switching-blisk-devices.ogg" type="video/ogg">
                                        Your browser does not support this video.
                                    </video>
<p>
  Matter of fact Blisk is based on Chromium the open-source webroswer which Google Chrome is based on. So that means that every extension that you like in Chrome you can install it on Blisk. Here is an overview of Blisk functionnalities.
</p>
<p><iframe allowfullscreen="" frameborder="0" height="360" src="https://www.youtube.com/embed/9W_Z5AruTLI" width="640"></iframe></p>


<p>
  Blisk is more than a Mobile-First Developper as its core it should be a Webdevelloper-First choice for testing the layout of their web application. But I don't know if the front-end communities will adopt this web-browser
</p>
    <h4>Hack safe! :)</h4>
    <hr/>


    <p class="prerequis" style="margin-top:60px;"><strong>References:</strong></p>
    <ul class="references">
      <li><a href="http://www.doi.org/doi_handbook/7_IDF.html">International DOI Foundation</a></li>
      <li><a href="https://fr.wikipedia.org/wiki/Digital_Object_Identifier">wikipedia (en)</a></li>
      <li><a href="https://pt.wikipedia.org/wiki/Digital_object_identifier">wikipedia (pt)</a></li>
      <li><a href="http://curl.haxx.se/docs/manpage.html">Unix man curl</a></li>
      <li><a href="http://unixhelp.ed.ac.uk/CGI/man-cgi?grep">Unix man grep</a></li>
      <li><a href="http://crosscite.org/cn/">DOI content negociation</a></li>
      <li><a href="https://github.com/CrossRef/rest-api-doc/blob/master/rest_api.md">Crossref API</a></li>
      <li><a href="http://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html">HTTP/1.1: Header Field Definitions</a></li>
    </ul>

     <hr/>
    </div>
    </div>
  </div>
</div>

</div>

<style type="text/css">
	   .media
    {
        /*box-shadow:0px 0px 4px -2px #000;*/
        margin: 20px 0;
        padding:30px;
    }
    .dp
    {
        border:10px solid #eee;
        transition: all 0.2s ease-in-out;
    }
    .dp:hover
    {
        border:2px solid #eee;
        transform:rotate(360deg);
        -ms-transform:rotate(360deg);
        -webkit-transform:rotate(360deg);
        /*-webkit-font-smoothing:antialiased;*/
    }
</style>
<div class="row">


    <div class="col-lg-6 col-lg-offset-1">
        <div class="media">
            <a class="pull-left" href="#">
                <img class="media-object dp img-circle" src="https://s3.amazonaws.com/uifaces/faces/twitter/guinslym/128.jpg" style="width: 100px;height:100px;">
            </a>
            <div class="media-body">
                <h4 class="media-heading">Guinsly Mondésir <small> Ottawa </i></small></h4>
                <h5>Web developer - Pythonist - Rubyist</h5>
                <a href="https://twitter.com/guinslym"><i class="fa fa-twitter fa-2x"></i></a>
                <a href="https://github.com/guinslym"><i class="fa fa-github fa-2x"></i></a>
                <hr style="margin:8px auto">

                <span class="label label-default">doi</span>
                <span class="label label-default">cli</span>
                <span class="label label-info">curl</span>
                <span class="label label-default">HTTP</span>
            </div>
        </div>

    </div>

</div>

   <footer>
  <div class="row text-center">

  <h1>Au revoir!!!</h1>
  <h4><a href="/" class="blog">-- retour au blog --</a></h4>
  </div>
</footer>

<script type="text/javascript">
  $('a').each(function() {
   var a = new RegExp('/' + window.location.host + '/');
   if (!a.test(this.href)) {
      $(this).attr("target","_blank");
   }
});
</script>
